[AI_CORE]
NAME = "CHARLIE"
GENDER = 'M'
TRIGGER_WORDS = ["OK", "HEY", "HELLO", "BRO", "WHATS UP"]
AI_TRIGGER_SOUND_FILEPATH = "assets/media/sound/trigger/AI_TRIGGER.mp3"
BRAIN_FILEPATH = "CHAT_AI-BRAIN/STATIC-BRAIN-BUILD/STANDARD-CORE-BRAIN.dump"
BRAIN_BUILD_XML_FILEPATH = "CHAT_AI-BRAIN/XML/STANDARD-CORE-BRAIN-DUMP-BUILD.aiml"
BRAIN_LOAD_COMMAND = "LOAD STANDARD CORE AIML BRAIN"