title = "CONFIG DATA"

[USER_IDENTIFIER]
UUID = "78e5dcdb-71e1-4db2-896b-9ae534dbc7c6"
EMAIL = "test@test.com"
FULL_NAME = "ARIJIT BHOWMICK"
USERNAME = "sys41x4"
PASSWORD = "TO THE MOON"

[DEVICE_IDENTIFIER]
DEVICE_ID = "a94a8fe5ccb19ba61c4c0873d391e987982fbbd3"
PUBLIC_KEY_PATH = "keys/public.key"
PRIVATE_KEY_PATH = "keys/private.key"

[COMMUNICATION_SERVER_INFO]
VOICE_RECOGNITION_ENDPOINT = "http://192.168.211.179/speech-api/v2/recognize"
AI_COMMUNICATION_ENDPOINT = "http://192.168.211.179/ai"